body{background-color: black;
    color: aliceblue;}

#Titulares{background-color: gray;
            color: aliceblue;
            width: 1200px; 
            height: 200px;
            position:absolute;
            left: 50px;
            top: 40px;}

.primer_parrafo{color: blue;
font-family: Arial, Helvetica, sans-serif;}

#texto1{background-color: grey;
        color: aliceblue;
        width: 500px;
        height: 600px;
        position: absolute;
        left: 50px;
        top: 280px;}
